# The primary site URL (e.g. https://yourdomain.com).
# If defined, this takes precedence for absolute URL generation.
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Automatically populated by Vercel on preview deployments.
# E.g. your-project-git-main-username.vercel.app
NEXT_PUBLIC_VERCEL_URL=
